// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#top_html {
  border: 2px solid red;
  position: fixed; top: 0; left: 0;
  background-color: #777;
  height: 60px;
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}
/*#top_html {
  border: 2px solid #671111;
  position: absolute; top: 0; left: 0;
  background-color: #671111;
  height: 60px;
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}
#left_html {
  border: 2px solid #671111;
  position: absolute; top: 62px; left: 0;
  background-color: #671111;
  height: 100%;
  width: 150px;
  line-height: 60px;
  text-align: center;
}
#left_html ul {
  list-style: none;
}
#left_html ul li {
  padding-left: 0;margin-left: 0;
  text-align: left;
  font-size: 15px;
}
#main_html {
  border: 2px solid #671111;
  position: absolute;; top: 62px; left: 152px;margin-left: 0;padding-left: 0;
  overflow-x: scroll;
  background-color: #671111;
  height: 100%;
  width: 800%;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}*/
